.tabela-cabecalho{
  background-color: #BB86FC;
  color: white;
}

.tabela-inferior{
background-color: #424250;
color: white;
}

.tabela-cabecalho-casa{
  background-color: #00C4B4;
  color: white;
}

.tabela-inferior-casa{
background-color: #424250;
color: white;
}